html {
  font-size: 14px;
  --light-tan: #cbc7da;
  --tan: #718064;
  --dark-tan: #2b3536;
  --gween: #3aee8b;
  --orange: rgb(214, 84, 23);
  --black: rgb(43, 40, 51);
  background-color: var(--light-tan);
}
/* tablet */
@media only screen and (min-width: 480px) {
  html {
      font-size: 12px;
  }
}
/* desktop */
@media only screen and (min-width: 768px) {
  html {
      font-size: 16px;
  }
}
/* extra large */
@media only screen and (min-width: 1024px) {
  html {
      font-size: 18px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .menu {
    animation: menu-glow infinite 2s alternate-reverse;
  }
}

@keyframes menu-glow {
  from {
    transform: scale(90%);
    opacity: 100%;
  }
  to {
    transform: scale(100%);
    opacity: 90%;
  }
}

.menu-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 97vw;
  justify-content: flex-end;
  align-items: flex-end;
}

.menu {
  background-color: var(--orange);
  color: tomato;
  height: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  z-index: 2;
  transition: width 1s, height 1.5s;
}

.menu:hover {
  background-color: var(--light-tan);
}

/* .menu:focus {
  width: 100vw;
  height: 100vw;
} */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 4rem;
  font-family: 'Dokdo', monospace;
  color: black;
  text-shadow: 3px 2px var(--gween);
  mix-blend-mode: lighten;
}

footer {
  color: var(--light-tan);
  border-top: solid 1px var(--tan);
  font-family: 'Courier New', Courier, monospace;
}

footer img {
  width: 80vw;
}