html {
    /* background-color: var(--tan); */
}

::selection {
    background-color: cornflowerblue;
    color: var(--light-tan);
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem;
}

.tagz {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: var(--tan);
    font-family: monospace;
}

.tag {
    border: solid 1px black;
    border-radius: 1rem;
    border-color: plum;
    color: tomato;
    padding: 0.2rem;
    font-family: monospace;
}

.tag button {
    background-color: transparent;
    border: none;
    margin-left: 0.3rem;
    color: cornflowerblue;
}

.tag button:hover {
    color: tomato;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem;
}

.card {
    background-color: var(--light-tan);
    border-radius: 1rem;
    width: 20vw;
    margin: 2vw;
    padding: 1rem;
    font-size: 2rem;
    color: var(--tan);
    font-family: 'Dokdo', monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: var(--tan);
    text-decoration-color: plum;
    margin: 0px;
}

a:hover {
    border: solid 2px plum;
}

.artist-tags {
    font-size: 0.7rem;
    font-family: monospace;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.artist-tag {
    color: tomato;
    border: solid 1px;
    border-radius: 1rem;
    padding: 0.2rem;
    width: fit-content;
    margin: 0.2rem;
}