html {
    /* background-color: var(--tan); */
}

::selection {
    background-color: cornflowerblue;
    color: var(--light-tan);
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem;
}

.card {
    background-color: var(--light-tan);
    border-radius: 1rem;
    width: 20vw;
    min-width: fit-content;
    margin: 2vw;
    padding: 1rem;
    font-size: 2rem;
    color: var(--tan);
    font-family: 'Dokdo', monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: var(--tan);
    text-decoration-color: plum;
    margin: 0px;
}

a:hover {
    border: solid 2px plum;
}

.artist-tags {
    font-size: 0.7rem;
    font-family: monospace;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    max-width: 15rem;
}

.artist-tag {
    color: var(--orange);
    border: solid 1px;
    border-radius: 1rem;
    padding: 0.2rem;
    width: fit-content;
    margin: 0.2rem;
}